.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.logo {
	max-width: 150px;
}

.navLinks {
	display: flex;
	gap: 1.5rem;
	li {
		display: inline-block;
		border: 1px solid #e85d04;
		padding: 10px;
		border-radius: 5px;
	}
	a {
		font-size: 1.8rem;
		display: inline-block;
	}
}
